<a href="https://colab.research.google.com/github/gyeong89/ALK_Python/blob/main/python230315.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 대분류

In [ ]:
1+1

2

In [ ]:
print("Hello World")

Hello World

## 파이선 기초 문법
- 주석처리
- 여러 줄 주석처리 시,
  + 함수, 클래스 작성할 때
  요긴하게 쓰임 (예 : Docstring)

In [ ]:
# 한줄 주석처리 

'''
여려줄 주석처리  
'''

"""
여러줄 주석처리 2
"""

print("Hello World")

Hello World

## 변수의 종류 (Scala 자료형)
- 4가지 존재 : int, float, bool, None
- 스칼라의 의미 : 더 이상 나누어지지 않는것

### int형 예제

In [ ]:
temp_int = 1
print(temp_int)
print(type(temp_int))

1
<class 'int'>

- 문자열

In [ ]:
temp_int = '1'
print(temp_int)
print(type(temp_int))

1
<class 'str'>

### float형 예제
- 실수형

In [ ]:
num_float = 0.2
print(num_float)
print(type(num_float))

0.2
<class 'float'>

### Bool
- 참 거짓

In [ ]:
temp_bool = True
temp_bool = False

print(type(temp_bool))

<class 'bool'>

### None 자료형
- Null을 나타내는 자료형
 + 데이터 분석에서 가장 처리하기 까다로운 자료형

In [ ]:
temp_none = None
print(type(temp_none))

<class 'NoneType'>

## 사칙연산
- 정수형 사칙연산

In [ ]:
a = 6
b = 2

print(a+b) # 덧셈
print(a-b) # 뺄셈
print(a*b) # 곱셈
print(a/b) #나누기
print(a//b) # 몫
print(a**b) # 제곱
print(a %b) # 나머지

8
4
12
3.0
3
36
0

### 실수형 사칙연산

In [ ]:
a = 6.0
b = 2.0

print(a+b) # 덧셈
print(a-b) # 뺄셈
print(a*b) # 곱셈
print(a/b) #나누기
print(a//b) # 몫
print(a**b) # 제곱
print(a %b) # 나머지

8.0
4.0
12.0
3.0
3.0
36.0
0.0

### 논리형 연산자
- AND 조건, OR 조건이 있음

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

### 비교 연산자
- 비교 연산자는 부등호를 의미함
- 왼쪽이 기준 값

In [ ]:
print(4 > 3)
print(3 > 4)
print(3 >= 4)
print(3 <= 4)

True
False
False
True

## input()
- print() : 출력
- input() : 입력

In [ ]:
var = input("값을 입력해주세요!!")
var = int(var)
print(var) 
print(type(var))

값을 입력해주세요!!10
10
<class 'int'>

In [ ]:
num1 = int(input("값을 입력해주세요!!"))
num2 = int(input("값을 입력해주세요!!"))
result = num1 + num2
print(result)

값을 입력해주세요!!10
값을 입력해주세요!!10
20

## String
- 매우 중요함!!!!

In [ ]:
str1 = "Hello "
str2 = "World"
print(str1 + str2)

Hello World

In [ ]:
str1 = "Hello "
str2 = "World"

result = str1 + str2
print(result)

Hello World

In [ ]:
str1 = "55"
str2 = "1000"
print(int(str1) + int(str2))

1055

- 곱셈 연산자 사용

In [ ]:
greeting = "Hello World "
print(greeting * 3)

Hello World Hello World Hello World

### Indexing
- 중요!!
- 0번째부터 시

In [ ]:
greeting = "Hello World!"
print(greeting[-3])

l

### 슬라이싱
- 자름

In [ ]:
greeting = "Hello World!"
print(greeting[0:5])
print(greeting[:])
print(greeting[6:])
print(greeting[3:8])
print(greeting[5:-1])
print(greeting[0:9:2])

Hello
Hello World!
World!
lo Wo
 World
HloWr

In [ ]:
greeting = "Hello World!!!!!!"
greeting[13]

'!'

### 문자열의 함수들
- 공식문서!

In [ ]:
tmp_string = 'Java'

# 변수명 저장
# 변수명 저장함과 동시에, 클래스로 바뀜
print(tmp_string.upper())   # upper 대문자
print(tmp_string.lower())   # lower 소문자

JAVA
java

- 참조 : https://docs.python.org/ko/3/library/stdtypes.html#:~:text=str.split,%5B%27%27%5D%20%EB%A5%BC%20%EB%8F%8C%EB%A0%A4%EC%A4%8D%EB%8B%88%EB%8B%A4.

In [ ]:
tmp_string = "BMW-BENZ-TESLA-KIA"
print(tmp_string.split(sep = '_'))

['BMW-BENZ-TESLA-KIA']

## 리스트
- 자바의 배열

In [ ]:
a = [ ]
a_func = list() # list() 함수로도 빈 리스트 생성
b = [1]
c = ['Apple']
d = [1,2,['apple']]

print(a)
print(a_func)
print(b)
print(c)
print(d)

[]
[]
[1]
['Apple']
[1, 2, ['apple']]

In [ ]:
a = [5,3,1,4,6,7]
print(a)

[5, 3, 1, 4, 6, 7]

In [ ]:
a[0:4]

[5, 3, 1, 4]

### 중첩리스트(Nested List)
- 리스트 내의 또 다른 리스트

In [ ]:
a = [['apple', 'banana', 'cherry'], 1]
print(a)

[['apple', 'banana', 'cherry'], 1]

In [ ]:
# cherry 글자에서 알벳 e만 가져오세요

# temp = a[0]
# temp2 = temp[2]
# temp2[2]

print(a[0][2][2])

e

### 리스트 연결 연산
- 덧셈, 곱셈

In [ ]:
a = ['alice', 'bob', 'cat']
b = ['apple', 'banana', 'cherry']

c = a + b
print(c)

['alice', 'bob', 'cat', 'apple', 'banana', 'cherry']

In [ ]:
a = ['a','b','c']
b = a * 3
print(b)

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [ ]:
c = a * 0
print(c)

[]

### 리스트 값 수정

In [ ]:
a = [1, 1, 1]
a[1] = "b"

print(a)

[1, 'b', 1]

### 리스트 값 추가하기
- append 매서드 사용
- 반복문 사용시, 매우 자주 활용 됨
- 참조 : https://docs.python.org/ko/3/tutorial/datastructures.html#:~:text=list.append,x%5D%20%EC%99%80%20%EB%8F%99%EB%93%B1%ED%95%A9%EB%8B%88%EB%8B%A4.

In [ ]:
a = [100, 200, 300]
a.append(400)

print(a)

[100, 200, 300, 400]

In [ ]:
a = [100, 200, 300]
b = [400, 500, 600]
a.append(b)

print(a)

[100, 200, 300, [400, 500, 600]]

### extend() 함수사용
- 여러 개의 요소를 추가하고 싶다면 사용
- 참조 : https://docs.python.org/ko/3/tutorial/datastructures.html#:~:text=list.extend,iterable%20%EC%99%80%20%EB%8F%99%EB%93%B1%ED%95%A9%EB%8B%88%EB%8B%A4.

In [ ]:
a = [100, 200, 300]
b = [400, 500, 600]
a.extend(b)

print(a)

[100, 200, 300, 400, 500, 600]

### insert
- 특정한 위치에 값을 추가
- 참조 : https://docs.python.org/ko/3/tutorial/datastructures.html#:~:text=list.insert,x)%20%EC%99%80%20%EB%8F%99%EB%93%B1%ED%95%A9%EB%8B%88%EB%8B%A4.

In [ ]:
a = [1, 1, 1, 1, 1, 1, 1]
a1 = a.insert(6, 100)

print(a)

[1, 1, 1, 1, 1, 1, 100, 1]

### 리스트의 값을 삭제
- remove() 함수

In [ ]:
a = [5, 4, 3, 2, 1]
a.remove(4)   # 숫자는 인덱스 번호 아님, value값
a

[5, 3, 2, 1]

- pop 함수

In [ ]:
a = [5, 4, 3, 2, 1]
a2 = a.pop(4) # 인덱스 값

print(a2)   # 어떤걸 지웠는지 표시
print(a)    # 지우고 남은걸 표시

1
[5, 4, 3, 2]

## 그 외 유용한 메서드
- clear 함수

In [ ]:
a = [0, 1, 2, 3]
print(a)

a.clear()
print(a)

[0, 1, 2, 3]
[]

In [ ]:
a = [1, 4, 5, 2, 3]
a.sort()  # 오름차순
print(a)

[1, 2, 3, 4, 5]

In [ ]:
# 내림차순으로 정렬 : 
# https://wikidocs.net/16041#:~:text=sort%20%3A%20%EC%A0%95%EB%A0%AC%2C%20%EA%B8%B0%EB%B3%B8%EA%B0%92%EC%9D%80%20%EC%98%A4%EB%A6%84%EC%B0%A8%EC%88%9C%20%EC%A0%95%EB%A0%AC%2C%20reverse%EC%98%B5%EC%85%98%20True%EB%8A%94%20%EB%82%B4%EB%A6%BC%EC%B0%A8%EC%88%9C%20%EC%A0%95%EB%A0%AC
a = [1, 4, 5, 2, 3]
a.sort(reverse=True)
print(a)

[5, 4, 3, 2, 1]

## 튜플

In [ ]:
tuple01 = (0)
tuple02 = (0, )
tuple03 = 0, 1, 2

print(tuple01)
print(tuple02)
print(tuple03)

print(type(tuple01))
print(type(tuple02))
print(type(tuple03))

0
(0,)
(0, 1, 2)
<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
# packing
my_tuple = 3, 2, "A"
print(my_tuple)

# Unpacking
a, b, c = my_tuple

print(a)
print(b)
print(c)

(3, 2, 'A')
3
2
A

### 수정, 삭제 안됨

In [ ]:
a = [0, 1, 2, 3, 4, 5, "a"]
del a[6]
a

[0, 1, 2, 3, 4, 5]

In [ ]:
a = (0, 1, 2, 3, 4, 5, "a")
print(a[6])
# del a['a']

a

- 수정

In [ ]:
a = [1, 1, 1, 'a']
a[3] = 1
a

[1, 1, 1, 1]

In [ ]:
a = (1, 1, 1, 'a')
a[3] = 1
a

TypeError: ignored

### 슬라이싱, 인덱싱
 - 각자 실습

- 더하기 및 곱센 연산자 사용

In [ ]:
t1 = (0, 2, 3, 4)
t2 = ('a', 'b', 'c')

print(t1 + t2)
print(t1 * 3)
print(t1 * 0)

(0, 2, 3, 4, 'a', 'b', 'c')
(0, 2, 3, 4, 0, 2, 3, 4, 0, 2, 3, 4)
()

##  딕셔너리
 -

In [ ]:
temp_dict = {
    "a" : [0, 1, 2, 3],
    "b" : "휴먼",
    "c" : 100
}

temp_dict

{'a': [0, 1, 2, 3], 'b': '휴먼', 'c': 100}

In [ ]:
temp_dict['b']

'휴먼'

In [ ]:
temp_dict['d']  # KeyError

KeyError: ignored

In [ ]:
# print(type(temp_dict.keys()))

# 리스트로 변환
result = temp_dict.keys()
result.append("d")

print(result)
result = list(temp_dict.keys())

print(result)
print(type(result))

AttributeError: ignored

In [ ]:
result = temp_dict.values()
print(type(result))
print(result)

<class 'dict_values'>
dict_values([[0, 1, 2, 3], '휴먼', 100])

In [ ]:
a = {'name' : '휴먼', 'age' : 50, 'job' : '학생'} 
result = list(a.items())
print(result)
print(result[0][1])

[('name', '휴먼'), ('age', 50), ('job', '학생')]
휴먼

In [ ]:
a = 0

if a > 5:
  print("a가 5보다 크다")
elif a > 0:
  print("a가 0보다 크다")
else :
  print("음수")

음수

In [ ]:
# input 함수
# 90점 이상 A등금, 80점 이상 B등급 나머지 C등급

num = int(input("점수를 입력해주세요"))

if num >= 90:
  print("A등급")
elif num >= 80:
  print("B등급")
else :
  print("C등급")

점수를 입력해주세요81
B등급

## 반복문
-

In [ ]:
# 과제 Hello World 10개를 출력
for i in range(3):      # for 다양한 객체 사용 : https://wikidocs.net/22
  print("Hello World")

Hello World
Hello World
Hello World

In [ ]:
letters = ['A', 'B', 'C']
for idx, value in enumerate(letters):
  print(idx, value)

0 A
1 B
2 C

In [ ]:
fruits = ['apple', 'kiwi', 'mango']

# 리스트의 값: 그 중에서 a가 들어간 글자만 따로 출력
# 리스트 컴프리헨션(List Comprehension)
newlists = [fruit for fruit in fruits if "a" in fruit]
print(newlists)

['apple', 'mango']

In [ ]:
fruits = ['apple', 'kiwi', 'mango']
"a" in fruits[2]

True

In [ ]:
fruits = ['apple', 'kiwi', 'mango']

newlist = []
for fruit in fruits:
  # 1단계
  print(fruit)
  # 조건문

  # 2단계 : 조건문을 작성할 수 있다
  # True False  식을 도출 --> 가장 어렵고 해야만 하는것
  if "a" in fruit:
    newlist.append(fruit)

print(newlist)

apple
kiwi
mango
['apple', 'mango']

###기초문법

### 판다스 문법
- 호로로로로로로로로롤

# 대분류2